/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
    background-color: #b0c4de; /* Light blue-gray color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
}

/* Game Bar */
.game-bar {
    background-color: #d3d3d3; /* Light gray color */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cashClickImage {
    width: 150px;
    height: auto;
    cursor: pointer;
}

/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    background-color: white;
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
