body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  background-color: #333; /* Dark gray */
  color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-size: 24px;
}

.upgrades {
  display: flex;
  gap: 10px;
}

.upgrade-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upgrade-info {
  margin-top: 5px;
}

.stats-button,
.setting-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.click-cash {
  width: 100px;
  cursor: pointer;
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white; /* White background for the pop-up */
  padding: 20px;
  border-radius: 10px;
  width: 300px; /* Width of pop-up */
  text-align: center; /* Center text in pop-up */
}

.close-button {
  cursor: pointer;
  color: #ff0000; /* Red for close button */
  position: absolute;
  right: 10px;
  top: 10px;
}

.stat-box {
  background-color: lightgray; /* Light gray for stats boxes */
  padding: 10px;
  margin: 10px 0;
}

#resetConfirmationOverlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.popup div {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Space above buttons */
}

.settings-button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: white; /* White text for buttons */
}

.login-button {
  background: linear-gradient(to bottom, #007bff, #66aaff); /* Good green gradient */
}

.level-design-button {
  background: linear-gradient(to bottom, #40e0d0, #80f0e0); /* Good turquoise gradient */
}

.reset-button {
  background: linear-gradient(to bottom, #ff4500, #ff7f50); /* Good red gradient */
}
